
<!-- About Me Section -->
<section id="AboutMe">
    <!-- Top banner -->
    <div class="container px-0" style="background-image: url(/images/top2.jpeg);background-position: center;background-size: cover;height:300px;">
        <div class="col-lg-12">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 class="px-5" style="color: white; text-align: right; "><b>Jesus Cuevas</b></h1>
            <h2 class="px-5" style="color: white; text-align: right;"><b>Software Developer</b></h2>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- About Me banner and paragraph -->
    <div class="container px-5" style="background-image: url(/images/full-stack2.jpg);background-position: center;background-size: cover; height:200px;">
        <br>
        <div class="col-lg-8" >
            <h2 style="color: white;">About Me</h2> 
            <p style="color: white; text-align: justify; font-size:medium;">Enthusiastic software engineer with more than 10 years of experience participating in the development of products through the software lifecycle, from requirements definition through successful deployment. Passionate about building modern world class applications with technologies such as ASP .NET, C#, SQL Server, and JavaScript. Experience and expertise in project management, logistics, and process optimization. High self-learning ability in a short time, easy adaptation to different working environments, and permanent spirit of improvement</p>
        </div>
    </div>
</section>
<br>
<br>

<!-- Skills section -->
<section id="Skills">
    <div class="container px-5" style="text-align: center;">
        <h2 class="display-7 lh-1 mb-4">Skills</h2>
    </div>
    <div class="container px-5">
        <div class="row align-items-center">
            <div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <!-- This shows each skill with an image and some text divided in a row and 4 columns -->
                    <div class="row gx-5">
                        <div class="col-md-3 mb-5">
                            <div class="text-center">
                                <img width="84" height="84" src="/images/problem.png">
                                <h5 class="font-alt" style="margin-top: 10px;">Problem Solving</h5>
                                <p class="mb-0">I like the challenges of solving complex problems</p>
                            </div>
                        </div>
                        <div class="col-md-3 mb-5">
                            <div class="text-center">
                                <img width="84" height="84" src="/images/detail.png">
                                <h5 class="font-alt" style="margin-top: 10px;">Attention to Detail</h5>
                                <p class="mb-0">Very attentive to those little details that make the difference</p>
                             </div>
                        </div>
                        <div class="col-md-3 mb-5">
                            <div class="text-center">
                                <img width="84" height="84" src="/images/learning.png">
                                <h5 class="font-alt" style="margin-top: 10px;">Continual Learning</h5>
                                <p class="mb-0">Always looking to learn something new</p>
                            </div>
                        </div>
                        <div class="col-md-3 mb-5">
                            <div class="text-center">
                                <img width="84" height="84" src="/images/teamwork.png">
                                <h5 class="font-alt" style="margin-top: 10px;">Teamwork</h5>
                                <p class="mb-0">I enjoy collaborating with multidisciplinary teams</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="solid">

<!-- My Work Section -->
<section id="MyWork">
    <div class="container px-5" style="text-align: center;">
        <h2 class="display-7 lh-1 mb-4">My Work</h2>
    </div>
    <div class="container px-5">
        <div class="row align-items-center">
            <div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
                <!-- This shows each work experience with an image and some text 
                     divided in two rows and 3 columns -->
                <div class="container-fluid px-5">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <div class="text-center">
                                <img  src="/images/toyota5.png" style="width: 100%;height: 100%;">
                                <p class="mb-0" style="margin-top: 10px;">- Production Control internal website.</p>
                                <p class="mb-0">- Data analysis apps for critical processes.</p>
                                <p class="mb-0">- Management apps for logistics.</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="text-center">
                                <img src="/images/gobcolima.png" style="width: 100%;height: 100%;">
                                <p class="mb-0" style="margin-top: 10px;">- GIS for updating agricultural censuses</p>
                                <p class="mb-0">- System GPS to create agricultural cartography.</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="text-center">
                                <img src="/images/cocacola2.jpg" style="width: 100%;height: 100%;">
                                <p class="mb-0" style="margin-top: 10px;">- Product Distribution System</p>
                                <p class="mb-0">- Seller commission calculation system</p>
                                <p class="mb-0">- Inventory control system</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <div class="text-center">
                                        <img src="/images/blacksigatoka2.jpg" style="width: 100%;height: 100%;">
                                        <h5 class="font-alt" style="margin-top: 10px;">Black Sigatoka</h5>
                                        <p class="mb-0">Support system evalution for the diagnosis of Black Sigatoka</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="text-center">
                                <img  src="/images/agro3.png" style="width: 100%;height: 100%;">
                                <h5 class="font-alt" style="margin-top: 10px;">La Esmeralda Agro</h5>
                                <p class="mb-0">Custom ERP System for the company</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="text-center">
                                <img src="/images/armsensor2.png" style="width: 100%;height: 100%;">
                                <h5 class="font-alt" style="margin-top: 10px;">Reh-arcade</h5>
                                <p class="mb-0">Serious game as support for elbow rehabilitation therapies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Me Section -->
<section id="ContactMe" style="background-color: #333333;">
    <div class="container px-5" style="text-align: center;">
        <br>
        <h2 class="px-5" style="text-align: center; color: white;">Contact Me</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6" >
            <div class="px-5">
                <!-- Image and some description about myself -->
                <div class="row">
                    <div class="col-lg-3" >
                        <img width="95" height="95" src="/images/jesbass.jpeg">
                    </div>
                    <div class="col-lg-9" >
                        <h4 style="color:white">Jesus Cuevas</h4>
                        <p style="color:white; text-align:justify">Full Stack Web Developer in Waterloo, Ontario. Bass Guitar Player. Lover of Animals, Sports, and Photograpy.</p>
                    </div>
                </div>
                <br>
                <!-- Links to LinkedIn and GitHub -->
                <a href="https://www.linkedin.com/in/jesbass/" target="_blank"><img width="32" height="32" src="/images/linkedin32.png" style="margin-left: 10px;"></a>
                <a href="https://github.com/jesbass" target="_blank"><img width="32" height="32" src="/images/github32.png" style="margin-left: 10px;"></a>
            </div>
        </div>
        <!-- This contains the text boxes and the submit button -->
        <div class="col-lg-6" >
            <div class="px-5">
                <div class="p-2">
                    <div class="form-group">
                        <input class="form-control" id="name" placeholder="Name">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="email" class="form-control" id="to" name="to" aria-describedby="emailHelp" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="text"></label>
                        <textarea class="form-control" id="text" name="text" rows="3" placeholder="Message"></textarea>
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary px-4">Submit</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>